.App{
  align-items: center;
  display:flex; 
flex-direction: column;
}
.App-header {
  align-items: center;
  display:flex;
  flex-direction: column;
  margin: 10px;
}

.navigate-button {
  margin: 10px !important;
  display: flex;
}
